.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input_email {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  /* text-align: left; */
  transition: all 0.3s;
  width: 30%;
  margin-top: 10%;
}
.btn {
  width: 100%;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(222, 55, 58) !important;
}

.Forgot {
  text-align: right;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: #0080a5;
  cursor: pointer;
  background-color: transparent;
}
.email {
  text-align: left;
}
.passcode {
  text-align: left;
}
#togglePassword {
  cursor: pointer;
  position: absolute;
  right: 5%;
  bottom: 50%;
  transform: translate(0, +50%);
}
.continue {
  margin-top: 40px;
}
.register {
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #de373a;
  cursor: pointer;
  margin-left: 5px;
}
.eye {
  position: relative;
}
.login {
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #de373a;
  cursor: pointer;
  margin-left: 5px;
}

